<ion-content>
  <ion-grid class="h-100">
    <ion-row class="ion-justify-content-center ion-align-items-center h-100">
      <ion-col size="12" size-xL="4" size-lg="5" size-md="6" class="ion-text-justify description">
        <div class="ion-padding-vertical ion-text-center">
          <h3>404</h3>
          <p>Ups, algo salio mal.</p>
        </div>
        <ion-button routerLink="/tourt" color="primary" class="custom-button" expand="block">Volver al Inicio</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
