@import "../shared/styles/media-screen.scss";

#login-content {
  text-align: left !important;

  ion-grid {
    height: 100%;
    text-align: left !important;

    &>ion-row {
      height: 80%;

      &>ion-col {
        padding: 30px;


        .logo {
          padding: 10px;

          @include mode('dark') {
            background-color: #383a3e;
            border-radius: 5px;
          }
        }

        h2 {
          font-weight: 400;

          @include size('max-width', 768px) {
            font-size: 20px;
          }
        }

        .options {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @include size('max-width', 368px) {
            flex-direction: column;
            align-items: flex-start;
          }

          &>ion-text:last-child {
            @include size('max-width', 368px) {
              margin-top: 10px;
            }
          }
        }

        ion-button {
          @include size('max-width', 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.my-custom-class .alert-wrapper {
  background: #e5e5e5;
}
