<ion-content id="login-content" color="light">

  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid class="ion-text-left ion-no-padding">
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" size-xL="4" size-lg="6" size-md="10" class="ion-text-justify description">

          <ion-row class="ion-justify-content-center ion-text-center">
            <ion-col>
              <img src="assets/img/logo-centrado.png" class="logo ion-margin-bottom" alt="logo-centrado">
            </ion-col>
          </ion-row>

          <ion-text color="oro">
            <h2 class="ion-margin-vertical">Ingresa tus credenciales:</h2>
          </ion-text>

          <ion-input name="email" [(ngModel)]="email" class="custom-input ion-margin-bottom" type="text" minlength="3"
            maxlength="50" placeholder="Documento o Correo" required></ion-input>

          <div class="custom-input-icon ion-margin-bottom">
            <ion-input name="password" [(ngModel)]="password" type="text" minlength="3" maxlength="50"
              placeholder="Contraseña" required>
            </ion-input>
            <ion-icon (click)="inputPass.type=(inputPass.type=='password')?'text':'password'" class="cursor-pointer"
              name="eye" color="primary" slot="end"></ion-icon>
          </div>

          <div class="options ion-margin-vertical ion-padding-bottom">
            <ion-text [routerLink]="['/password']" color="medium" class="ion-float-start">
              ¿Olvidaste tu contraseña?
            </ion-text>
            <ion-text [routerLink]="['/register']" color="primary" class="ion-float-end">
              Registrarme
            </ion-text>
          </div>

          <ion-button type="submit" class="ion-margin-vertical custom-button rounded" color="primary" expand="block" [disabled]="loading">
            <ion-label>
              <ion-spinner *ngIf="loading"></ion-spinner> Iniciar sesión
            </ion-label>
          </ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
