<ion-content id="login-content" color="light" [fullscreen]="true">
  <ion-grid class="ion-text-left">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-xL="4" size-lg="5" size-md="6" class="ion-text-justify description">

        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col>
            <img src="assets/img/logo-centrado.png" class="logo ion-margin-bottom" alt="logo-centrado">
          </ion-col>
        </ion-row>

        <ion-text color="warning" class="ion-margin-bottom">
          <h2>Ingresa tus credenciales:</h2>
        </ion-text>

        <ion-list color="light">
          <ion-item class="input">
            <ion-input #inputEmail_ [(ngModel)]="inputEmail" type="text" placeholder="Documento o Correo"
              required="true"></ion-input>
          </ion-item>
          <ion-item class="input">
            <ion-input #inputPass_ [(ngModel)]="inputPass" type="password" placeholder="Contraseña" required="true">
            </ion-input>
            <ion-icon (click)="inputPass.type=(inputPass.type=='password')?'text':'password'" class="cursor-pointer"
              name="eye" color="danger" slot="end"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-row class="ion-margin-bottom desc">
          <ion-col>
            <ion-text color="medium" class="ion-float-start">¿Olvidaste tu contraseña?</ion-text>
            <ion-text color="danger" class="ion-float-end">Registrarme</ion-text>
          </ion-col>
        </ion-row>

        <ion-button (click)="login()" class="ion-margin-top btn" size="large" color="danger" expand="block">
          Iniciar sesión
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
