// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #BE1919;
  --ion-color-primary-rgb: 190, 25, 25;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a71616;
  --ion-color-primary-tint: #c53030;

  /** secondary **/
  --ion-color-secondary: #E32727;
  --ion-color-secondary-rgb: 227, 39, 39;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c82222;
  --ion-color-secondary-tint: #e63d3d;

  /** tertiary **/
  --ion-color-tertiary: #6C19BE;
  --ion-color-tertiary-rgb: 108, 25, 190;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5f16a7;
  --ion-color-tertiary-tint: #7b30c5;

  /** success **/
  --ion-color-success: #1AE49B;
  --ion-color-success-rgb: 26, 228, 155;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #17c988;
  --ion-color-success-tint: #31e7a5;

  /** warning **/
  --ion-color-warning: #EFD46C;
  --ion-color-warning-rgb: 239, 212, 108;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d2bb5f;
  --ion-color-warning-tint: #f1d87b;

  /** danger **/
  --ion-color-danger: #FF2E62;
  --ion-color-danger-rgb: 255, 46, 98;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e02856;
  --ion-color-danger-tint: #ff4372;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #878787;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #777777;
  --ion-color-medium-tint: #939393;

  /** light **/
  --ion-color-light: #f7f7f7;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d9d9d9;
  --ion-color-light-tint: #f8f8f8;

  /** oro **/
  --ion-color-oro: #C19900;
  --ion-color-oro-rgb: 193, 153, 0;
  --ion-color-oro-contrast: #000000;
  --ion-color-oro-contrast-rgb: 0, 0, 0;
  --ion-color-oro-shade: #aa8700;
  --ion-color-oro-tint: #c7a31a;

  /** grey **/
  --ion-color-grey: #D2D2D2;
  --ion-color-grey-rgb: 210, 210, 210;
  --ion-color-grey-contrast: #000000;
  --ion-color-grey-contrast-rgb: 0, 0, 0;
  --ion-color-grey-shade: #b9b9b9;
  --ion-color-grey-tint: #d7d7d7;

  /** white **/
  --ion-color-white: #FFFFFF;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  /** redlight **/
  --ion-color-redlight: #EFC5C5;
  --ion-color-redlight-rgb: 239, 197, 197;
  --ion-color-redlight-contrast: #000000;
  --ion-color-redlight-contrast-rgb: 0, 0, 0;
  --ion-color-redlight-shade: #d2adad;
  --ion-color-redlight-tint: #f1cbcb;
}

// New colors class
.ion-color-oro {
  --ion-color-base: var(--ion-color-oro);
  --ion-color-base-rgb: var(--ion-color-oro-rgb);
  --ion-color-contrast: var(--ion-color-oro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-oro-contrast-rgb);
  --ion-color-shade: var(--ion-color-oro-shade);
  --ion-color-tint: var(--ion-color-oro-tint);
}

.ion-color-grey {
  --ion-color-base: var(--ion-color-grey);
  --ion-color-base-rgb: var(--ion-color-grey-rgb);
  --ion-color-contrast: var(--ion-color-grey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb);
  --ion-color-shade: var(--ion-color-grey-shade);
  --ion-color-tint: var(--ion-color-grey-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-redlight {
  --ion-color-base: var(--ion-color-redlight);
  --ion-color-base-rgb: var(--ion-color-redlight-rgb);
  --ion-color-contrast: var(--ion-color-redlight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-redlight-contrast-rgb);
  --ion-color-shade: var(--ion-color-redlight-shade);
  --ion-color-tint: var(--ion-color-redlight-tint);
}

// Style elements default
$colors-class: ("primary":--ion-color-primary,
  "secondary":--ion-color-secondary,
  "tertiary":--ion-color-tertiary,
  "success":--ion-color-success,
  "warning":--ion-color-warning,
  "danger":--ion-color-danger,
  "dark":--ion-color-dark,
  "medium":--ion-color-medium,
  "light":--ion-color-light,
  "oro":--ion-color-oro,
  "grey":--ion-color-grey,
  "white":--ion-color-white,
  "redlight":--ion-color-redlight,
);

@each $name,
$color in $colors-class {
  .bg-#{$name} {
    background: var($color) !important;
  }

  .color-#{$name} {
    color: var($color) !important;
  }
}

.bg-light-b {
  background: #E6E6E6;
}

.color-light-b {
  color: #E6E6E6;
}

ion-input.custom-input,
ion-textarea.custom-input,
ion-item.custom-input,
.custom-input-icon {
  --background: var(--ion-color-white) !important;
  --placeholder-color: var(--ion-color-grey);
  --placeholder-opacity: 0.8;
  color: #222428;
  border-radius: 5px;
  border: 2px solid #222428;

  input {
    padding: 10px !important;

    &::selection {
      background: var(--ion-color-redlight);
    }
  }
}

.custom-input-icon {
  background: var(--ion-color-white) !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-input {
    input {
      padding: 10px !important;

      &::selection {
        background: var(--ion-color-redlight);
      }
    }
  }

  ion-icon {
    margin-right: 8px;
    font-size: 20px;
  }
}

ion-button.custom-button {
  --border-width: 2px;
  --border-style: solid;
  --border-color: #222428;
  --border-radius: 0;

  ion-label {
    display: contents;

    ion-spinner {
      height: 20px;
      width: 20px;
      position: absolute;
      left: -5px;
    }
  }

  ion-icon:not(.icon-only) {
    font-size: 20px;
    position: absolute;
    right: 0;
  }
}

.rounded {
  --border-radius: 5px!important;
  border-radius: 5px!important;
}

.square {
  --border-radius: 0;
  border-radius: 0;
}

.alert-wrapper {
  border: 2px solid #8C8C8C;

  .alert-button {
    color: black;
    font-weight: bold;
  }
}

.alert-success {
  .alert-wrapper {
    border-color: #1AE49B;
  }
}

.alert-warning {
  .alert-wrapper {
    border-color: #EFD46C;
  }
}

.alert-dager {
  .alert-wrapper {
    border-color: #FF2E62;
  }
}

.text-left {
  .alert-message {
    text-align: left;
  }
}

.text-right {
  .alert-message {
    text-align: right;
  }
}

.text-center {
  .alert-message {
    text-align: center;
  }
}

.text-justify {
  .alert-message {
    text-align: justify;
  }
}



@media (prefers-color-scheme: light) {
  .ios body {
    --ion-toolbar-background: #E6E6E6;
  }

  .md body {
    --ion-toolbar-background: #E6E6E6;
  }
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #BE1919;
    --ion-color-primary-rgb: 190, 25, 25;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #a71616;
    --ion-color-primary-tint: #c53030;

    --ion-color-secondary: #E32727;
    --ion-color-secondary-rgb: 227, 39, 39;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #c82222;
    --ion-color-secondary-tint: #e63d3d;

    --ion-color-tertiary: #6C19BE;
    --ion-color-tertiary-rgb: 108, 25, 190;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5f16a7;
    --ion-color-tertiary-tint: #7b30c5;

    --ion-color-success: #1AE49B;
    --ion-color-success-rgb: 26, 228, 155;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #17c988;
    --ion-color-success-tint: #31e7a5;

    --ion-color-warning: #EFD46C;
    --ion-color-warning-rgb: 239, 212, 108;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #d2bb5f;
    --ion-color-warning-tint: #f1d87b;

    --ion-color-danger: #FF2E62;
    --ion-color-danger-rgb: 255, 46, 98;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e02856;
    --ion-color-danger-tint: #ff4372;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --ion-color-oro: #C19900;
    --ion-color-oro-rgb: 193, 153, 0;
    --ion-color-oro-contrast: #000000;
    --ion-color-oro-contrast-rgb: 0, 0, 0;
    --ion-color-oro-shade: #aa8700;
    --ion-color-oro-tint: #c7a31a;

    --ion-color-grey: #D2D2D2;
    --ion-color-grey-rgb: 210, 210, 210;
    --ion-color-grey-contrast: #000000;
    --ion-color-grey-contrast-rgb: 0, 0, 0;
    --ion-color-grey-shade: #b9b9b9;
    --ion-color-grey-tint: #d7d7d7;

    --ion-color-white: #FFFFFF;
    --ion-color-white-rgb: 255, 255, 255;
    --ion-color-white-contrast: #000000;
    --ion-color-white-contrast-rgb: 0, 0, 0;
    --ion-color-white-shade: #e0e0e0;
    --ion-color-white-tint: #ffffff;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }

  .bg-light-b {
    background: #222428;
  }

  .color-light-b {
    color: #222428;
  }

  .alert-wrapper {
    .alert-button {
      color: white;
    }
  }
}


/*
   * Dark Colors
   * -------------------------------------------
   */

body.dark {
  --ion-color-primary: #BE1919;
  --ion-color-primary-rgb: 190, 25, 25;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a71616;
  --ion-color-primary-tint: #c53030;

  --ion-color-secondary: #E32727;
  --ion-color-secondary-rgb: 227, 39, 39;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #c82222;
  --ion-color-secondary-tint: #e63d3d;

  --ion-color-tertiary: #6C19BE;
  --ion-color-tertiary-rgb: 108, 25, 190;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #5f16a7;
  --ion-color-tertiary-tint: #7b30c5;

  --ion-color-success: #1AE49B;
  --ion-color-success-rgb: 26, 228, 155;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #17c988;
  --ion-color-success-tint: #31e7a5;

  --ion-color-warning: #EFD46C;
  --ion-color-warning-rgb: 239, 212, 108;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #d2bb5f;
  --ion-color-warning-tint: #f1d87b;

  --ion-color-danger: #FF2E62;
  --ion-color-danger-rgb: 255, 46, 98;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e02856;
  --ion-color-danger-tint: #ff4372;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34, 36, 40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255, 255, 255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;

  --ion-color-oro: #C19900;
  --ion-color-oro-rgb: 193, 153, 0;
  --ion-color-oro-contrast: #000000;
  --ion-color-oro-contrast-rgb: 0, 0, 0;
  --ion-color-oro-shade: #aa8700;
  --ion-color-oro-tint: #c7a31a;

  --ion-color-grey: #D2D2D2;
  --ion-color-grey-rgb: 210, 210, 210;
  --ion-color-grey-contrast: #000000;
  --ion-color-grey-contrast-rgb: 0, 0, 0;
  --ion-color-grey-shade: #b9b9b9;
  --ion-color-grey-tint: #d7d7d7;

  --ion-color-white: #FFFFFF;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;
}

/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body.dark {
  --ion-background-color: #000000;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: #000000;

  --ion-card-background: #1c1c1d;
}

.ios .dark ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}


/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

.md body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: #1e1e1e;

  --ion-toolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
}
