@import "../../../shared/styles/media-screen.scss";

#main-content {
  &>ion-grid {
    padding: 15px;

    .logo {
      padding: 10px;

      @include mode('dark') {
        background-color: #383a3e;
        border-radius: 5px;
      }
    }

    #user {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
