#main-content {
  &>ion-grid {
    &>ion-row {
      &>ion-col {
        &.scan {

          .section-1 {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            min-height: 30vh;
            max-height: 60vh;
            overflow: hidden;

            &.disabled::after {
              position: absolute;
              content: "";
              height: 100%;
              width: 100%;
              background: #ffffffcc;
            }

            ion-icon {
              color: black !important;
              position: absolute;
              font-size: 100px;
              z-index: 1;
            }
          }

          .section-2 {
            .small {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
