#main-content {
  &>ion-grid {
    &>ion-row {
      &>ion-col {
        &.scan {
        
          .section-1 {
            background-color: #E1E6EF;
            position: relative;

            #code_qr {
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              min-height: 30vh;
              max-height: 60vh;
              overflow: hidden;

              &.disabled::after {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                background: #ffffffcc;
              }

              ion-icon {
                color: black !important;
                position: absolute;
                font-size: 100px;
                z-index: 1;
              }
            }

            #inf {
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translateX(-50%);

              ion-chip {
                --border-radius: 5px;
                border-radius: 5px;
                padding: 20px;
                border: 2px solid #222428 !important;

                &.user-success {
                  background: var(--ion-color-success) !important;
                  color: black !important;
                }

                &.user-warning {
                  background: var(--ion-color-warning) !important;
                  color: black !important;
                }

                &.user-danger {
                  background: var(--ion-color-danger) !important;
                  color: white !important;
                }
              }
            }
          }

          .section-2 {
            #desc {
              .small {
                font-size: 14px;
              }
            }
          }

          .section-3 {
            #options {
              display: flex;
            }
          }
        }
      }
    }
  }
}
