<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" (click)="stopScan()"></ion-back-button>
    </ion-buttons>
    <ion-title>QR de Salida</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="resetScan();startScan();" *ngIf="scanResult || scanResult==''" color="dark"
        class="button button-clear">
        <ion-icon slot="icon-only" name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content id="main-content" color="light">
  <ion-grid class="ion-no-padding h-100 bg-light-b">

    <ion-row class="ion-justify-content-center ion-align-items-center ion-no-padding">
      <ion-col size="12" size-xL="4" size-lg="6" size-md="10" class="ion-text-center ion-no-padding scan">

        <div class="section-1" [ngClass]="{'disabled': !scanActive}">
          <video #video width="100%"></video>
          <canvas #canvas hidden></canvas>
          <ion-icon *ngIf="scanResult" name="qr-code"></ion-icon>
          <ion-icon *ngIf="scanResult==''" name="sad"></ion-icon>
        </div>

        <div class="section-2 ion-text-justify ion-padding">
          <ion-text color="dark">
            <p class="small">
              Busca el código QR que se encuentra en las salida de la universidad para registrar tu salida.
              <br>
              <br>
              Si presentas sintomas de covid-19 no dudes en responder la encuesta.
            </p>
          </ion-text>

          <ion-button (click)="sendDataExit()" [disabled]="loadingExit || !scanResult"
            class="ion-margin-vertical custom-button rounded" color="primary" expand="block">
            <ion-label>
              <ion-spinner *ngIf="loadingExit"></ion-spinner> Registrar Salida
            </ion-label>
          </ion-button>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
