<ion-menu side="start" type="overlay" menuId="menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="closeMenu()" class="button button-clear">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title slot="end">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-sidebar></app-sidebar>
  </ion-content>
</ion-menu>

<ion-header color="light">
  <ion-toolbar>

    <ion-buttons slot="start" class="buttons-first-slot">
      <ion-menu-button (click)="openMenu();" auto-hide="false" class="button"></ion-menu-button>
    </ion-buttons>

    <ion-title class="md title-default hydrated">Unilibre CovidApp</ion-title>

    <!-- <ion-buttons slot="primary">
      <ion-button class="button button-clear">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" role="img"
          aria-label="ellipsis vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content id="main-content" color="light">
  <ion-grid class="ion-text-left">

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-xL="4" size-lg="6" size-md="10" class="ion-no-padding">

        <img src="assets/img/logo-ancho.png" class="logo" alt="logo-ancho">

        <ion-text color="oro" class="ion-text-center">
          <h1 id="user" class="ion-margin-bottom ion-no-margin">
            Cesar Nuñez
            <ion-buttons>
              <ion-button routerLink="/register" class="button button-clear">
                <ion-icon color="medium" slot="icon-only" name="create"></ion-icon>
              </ion-button>
            </ion-buttons>
          </h1>
        </ion-text>

        <ion-text color="medium" class="ion-text-left">
          Tu ultima encuesta reporta en la universidad fue:
          <br>
          {{_appService.session.fecha_encuesta | formatDate : 1}}
        </ion-text>

        <ion-button routerLink="/home/survey" class="ion-margin-vertical custom-button rounded" color="primary" expand="block">
          <ion-label>
            <ion-spinner *ngIf="loading"></ion-spinner> Reportar encuesta
          </ion-label>
        </ion-button>

        <ion-text color="medium">
          Recuerda llenar la encuesta antes de dirigirte a las instalaciones de la universidad o al presentar sintomas
          de
          (convid-19).
          <br>
          <br>
          Si presentas sintomas relacionados con el covid evita salir de casa y espera nuestras
          indicaciones.
          <br>
          <br>
          Realiza el uso correcto de la mascarilla y el lavado de manos constantemente.
        </ion-text>

        <ion-button [disabled]="_appService.session.fecha_encuesta | formatDate : 2" routerLink="/home/qr-entry"
          class="ion-margin-vertical custom-button rounded" color="dark" expand="block">
          <ion-label>Generar QR de entrada</ion-label>
          <ion-icon slot="end" name="qr-code-outline"></ion-icon>
        </ion-button>

        <ion-button [disabled]="_appService.session.fecha_encuesta | formatDate : 2" routerLink="/home/qr-exit"
          class="ion-margin-vertical custom-button rounded" color="medium" expand="block">
          <ion-label>Escanear QR de salida</ion-label>
          <ion-icon slot="end" name="scan-outline"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
