#main-content {
  form {
    &>ion-grid {
      padding: 15px;

      ion-list {
        padding-bottom: 0;

        ion-item {
          --ripple-color: transparent;
          --background-activated: transparent;
          display: flex;

          ion-label {
            pointer-events: none;
          }

          ion-text {
            width: calc(100% - 50px);
            margin-right: 0;
            pointer-events: none;

            &::part(small) {
              font-size: 20px;
            }
          }

          ion-text::part(small) {
            font-size: 20px;
          }

          ion-checkbox {
            margin-left: 0;
            --size: 25px;
          }

          ion-radio {
            margin: 18px 0 18px 10px;
            height: 26px;
            width: 26px;
          }

          ion-select {
            max-width: 100%;
            width: 100%;

            &::part(text) {
              min-width: calc(100% - 19px);
              text-overflow: initial;
            }
          }

          &:last-child {
            --border-width: 0 !important;
          }
        }
      }
    }
  }
}
